{# Finding correct site so we can filter devices correctly #}
{% set index = ansible_loop.index0 %}
{% for site in nb_sites.sites %}
{%     if site.name == site_names[index] %}
{%         set endpoints_data.site_name = site.name %}
{%     endif %}
{% endfor %}
{# Building list of all devices #}
{% set endpoints_data.endpoint_devices = [] %}
{% for vchassis in nb_mlag_pairs.virtual_chassis + nb_subleaf_mlag_pairs.virtual_chassis %}
{%     for device in vchassis.members %}
{%         if device.site.name == endpoints_data.site_name %}
{%             do endpoints_data.endpoint_devices.append(device) %}
{%         endif %}
{%     endfor %}
{% endfor %}
{% for device in nb_standalone_leafs.devices %}
{%     if device.site.name == endpoints_data.site_name %}
{%         do endpoints_data.endpoint_devices.append(device) %}
{%     endif %}
{% endfor %}