{# Routing policies have been moved to l3leaf_routing_policy.j2 #}
{# This file is now kept for compatibility but doesn't render routing policies #}
{# Routing policies are now rendered in L3LEAFS group_vars files only #}
