tenants:
{% for tenant in services_data.tenants | emil.nbavd.structure_tenants %}
  {{ tenant.name }}:
    mac_vrf_vni_base: {{ tenant.mac_vrf_vni_base }}
{#  Building l2vlans #}
    l2vlans:
{%     for l2vlan in tenant.l2vlans %}
{%         if ((l2vlan.site.name is defined and (l2vlan.site.name == services_data.site_name or l2vlan.site.name == "Global")) or l2vlan.site == none) and l2vlan.status.name == "Active" %}
      {{ l2vlan.vid }}:
        name: {{ l2vlan.name }}
{%             set service_tags = [] %}
{%             for tag in l2vlan.tags %}
{%                 do service_tags.append(tag.name) %}
{%             endfor %}
        tags: {{ service_tags }}
{%         endif %}
{%     endfor %}
{#  Building vrfs #}
    vrfs:
{%     for vrf in tenant.vrfs %}
      {{ vrf.name }}:
        vrf_vni: {{ vrf.vrf_vni }}
{#      Building vrf ospf #}
{%         if vrf.cf_ospf_enabled is defined and vrf.cf_ospf_enabled == true %}
        ospf:
          enabled: true
{%         endif %}
{#      Building SVIs #}
        svis:
{%         for svi in vrf.svis %}
{%             set service_nodes = namespace(ips = []) %}
{%             if svi.vlan != none and svi.ip_addresses | length > 0 and svi.status.name == "Active" and ((svi.site.name is defined and (svi.site.name == services_data.site_name or svi.site.name == "Global")) or svi.site == none or svi.site == "Global") %}
          {{ svi.vlan.vid }}:
            enabled: true
            name: {{ svi.vlan.name }}
{#          Building SVI IP-addressing #}
{%                 for ip in svi.ip_addresses %}
{%                     if ip.type == "ANYCAST" %}
            ip_address_virtual: {{ ip.address }}
{%                     elif ip.type == "VIP" %}
            ip_virtual_router_address: {{ ip.address.split("/")[0] }}
{%                     elif ip.type == "SECONDARY" %}
{%                         do service_nodes.ips.append(ip) %}
{%                     endif %}
{%                 endfor %}
{%                 if service_nodes.ips | length > 0 %}
            nodes:
{%                     for ip in service_nodes.ips %}
              {{ ip.device }}:
                ip_address: {{ ip.address }}
{%                     endfor %}
{%                 endif %}
            tags:
{%                 if svi.vlan.tags is defined and svi.vlan.tags is not none and svi.vlan.tags | length > 0 %}
{%                     for tag in svi.vlan.tags %}
              - {{ tag.name }}
{%                     endfor %}
{%                 else %}
              - avd
{%                 endif %}
{#          Building SVI OSPF Settings #}
{%                 if (svi.vlan.cf_ospf_enabled is defined and svi.vlan.cf_ospf_enabled == true) or (svi.cf_ospf_enabled is defined and svi.cf_ospf_enabled == true) %}
            ospf:
              enabled: true
{%                 endif %}
{%                 if svi.vlan.cf_ip_helpers is defined and svi.vlan.cf_ip_helpers is not none %}
            ip_helpers:
{%                     for ip_helper in svi.vlan.cf_ip_helpers.split(",") %}
              {{ ip_helper }}:
{%                     endfor %}
{%                 endif %}
{%             endif %}
{%         endfor %}
{#      Building vrf l3_interfaces #}
        l3_interfaces:
{%         for device in services_data.tenant_devices %}
{%             if device.site.name == services_data.site_name %}
{%                 for interface in device.interfaces %}
{%                     if interface.ip_addresses is defined and interface.ip_addresses | length > 0 and "Ethernet" in interface.name %}
{%                         for ip in interface.ip_addresses %}
{%                             if ip.vrf is defined and ip.vrf is not none %}
{%                                 if ip.vrf.name == vrf.name %}
          - interfaces: [ {{ interface.name }} ]
            ip_addresses: [ {{ ip.address }} ]
            enabled: true
            nodes: [ {{ device.name }} ]
{%                                     if interface.description != "" %}
            description: {{ interface.description }}
{%                                     else %}
            description: {{ "Customer " ~ tenant.name ~ " vrf " ~ vrf.name ~ " routed interface" }}
{%                                     endif %}
{%                                     if interface.cf_ospf_enabled is defined and interface.cf_ospf_enabled == true %}
            ospf:
              enabled: true
{%                                     endif %}
{%                                 break %}
{%                                 endif %}
{%                             endif %}
{%                         endfor %}
{%                     endif %}
{%                 endfor %}
{%             endif %}
{%         endfor %}
{%     endfor %}
{% endfor %}

{# {{ services_data.tenants | to_nice_yaml(indent = 2) }} #}
