---
{% set dc_data = namespace() %}
{# Logic Template #}
{% include 'logic.j2' %}

{# DC Defaults Template #}
{% include 'defaults.j2' %}

{# Spine Template #}
{% include 'spine.j2' %}

{# L3 Leaf Template #}
{% include 'l3leaf.j2' %}

{# L2 Leaf Template #}
{% include 'l2leaf.j2' %}