{# Render Spines #}
spine:
  defaults:
    {{ dc_data.spine_defaults | to_nice_yaml(indent=2) | indent(4) }}
  nodes:
{% for spine in dc_data.spines %}
{%     if spine.site.name == dc_data.site_name %}
    - name: {{ spine.name }}
      evpn_role: {{ spine.cf_evpn_role }}
      id: {{ spine.cf_device_id }}
      mgmt_ip: {{ spine.primary_ip4.address }}
{%         if spine.bgp_as is defined and spine.bgp_as is not none %}
      bgp_as: {{ spine.bgp_as }}
{%         endif %}
{%     endif %}
{% endfor %}


