{# Render DC Name from site name #}
dc_name: {{ dc_data.site_name }}

{# Render Spines #}
spine:
  defaults: {{ dc_data.spine_defaults }}
  nodes:
{% for dc_device in dc_data.devices %}
{%     if dc_device.device_role.slug == "spine" %}
    {{ dc_device.name }}:
      evpn_role: {{ dc_device.custom_fields["evpn-role"] }}
      id: {{ dc_device.custom_fields["device-id"] }}
      mgmt_ip: {{ dc_device.primary_ip4.address }}
{%     endif %}
{% endfor %}


